.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.signupform{width: 35%; margin: 18% auto 0; }
.signupform form { border: 1px solid #ddd; padding: 30px 14%; box-sizing: border-box; }
.formrow { display: block; margin-bottom: 15px; text-align: left;}
.formrow label { text-align: left; display: inline-block; width: 30%; }
.formrow input[type="text"], .formrow input[type="email"], .formrow input[type="password"] { min-width: 230px; padding: 8px 5px; border: 1px solid #ddd; }
.msg {color: #f00;}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
